

<body class="whole">
  <main class="main mas">
      <div class="i tbw tb tleft" >
          <header class="blockbrand">
          <div class="bgprimaryd txtwhite blockbrand-inner">
              <i class="fas fa-braille fa-3x"></i>
              <h1 class="brandname">ms. K D Explorer</h1>
          </div>
      </header>
          <p class="thtext">
               one who loves to explore and escape  <br> 
        I am Kim Ilustrisimo . Kimmy at home and Ms. K in school. I am a licensed professional teacher by profession, student and a traveler by heart and soul.
        I work 7am to 5pm on weekdays, and  6pm to 10pm as a student, now a traveler on my free time and days.
        <br> It’s hard – traveling knowing that I’ve got tons of activities to check when I get back to school, 
        forms to accomplish, grades to compute, reports to be submitted, bills I have to pay and a portfolio to defend. 
        It’s suffocating that I realized one day, I needed an escape.
        <br> I went out to see what this world has laid on my feet. 
        I stepped out of the threshold to explore the wonders of what’s dubbed as ‘Pearl of the Pacific’ has to offer. 
        I met a lot of people. I made new friends. I got oriented with different cultures and languages. 
        I tasted food I have never tried before. I’ve done things I never thought I would do. 
        I was brought by my wandering sole to places I’ve never thought of visiting. 
        I was infinite for a moment and sky was the only limit I had. 
        Life is meant to be lived colorfully, in a way you want it to be, in a way that you will enjoy it. 
        I intend to color mine with my adventures – people, food, places, everything!  </p>
      </div>
      <div class="i" >
          <img src="src\assets\img\travel1.png" alt="Image" class="imgleft">
      </div>
      <div class="i bgsecond txtwhite tb wider blockpad tleft-2" id="hacks">
          <i class="fas fa-award fa-4x blockicon"></i>
          <header>
              <h2 class="txtupper" >
                  TRAVEL HACKS
              </h2>
          </header>
          <p >A wide variety of travel hacks by travelers for travelers</p>
          <div class="txtright">
              <a href="#hacks" class="btn btn-small btn-primary mt">Read More</a>
          </div>
      </div>
      <div class="i" >
          <img src="src\assets\img\connect.jpg" alt="Image" class="imgleft">
      </div>
      <div class="tfoot" id="Footerr" >
          <div>
              <p class="mb-small">&copy; 2020 mskdexplorer</p>
          </div>
      </div>
      <div class="i">
          <img src="src\assets\img\image-02.JPG" alt="Image">
      </div>
      <div class="i tright" id="travel">
          <div class="brinner bgprimaryl txtwhite tb wider blockpad">
              <header>
                  <h2 class="txtupper">
                      TRAVELS
                  </h2>
              </header>
              <p>A collection of stories of adventures and misadventures while backpacking that makes a trip the most epic and unforgettable! </p> 
                <br>
                <ul>
                <li><a href="#travel">Mentally on the beach</a> </li>
                <li><a href="#travel">Long Weekend Love</a> </li>
                <li> <a href="#travel"> Sudden Trip </a> </li>
                <li> <a href="#travel"> Norte</a> </li> 
                <li> <a href="#travel"> Night at Macau </a> </li> 
                <li> <a href="#travel"> Motherland </a> </li>
                </ul> 
          
          </div>
      </div>

      <div class="i" >
          <img src="src\assets\img\bp.jpg" alt="Image">
      </div>

      <div class="i tbw tb connects" >
          <div class="connects-container blockpad pb-0">
              <header>
                  <h2 class="txtupper txtglight mb">
                      LET'S CONNECT
                  </h2>
              </header>
              <p>Want to say Hi or Have a question? <br> I'd love to hear from you!
                  <br>for collaboration, reviews or general question,
                  <br> just send me message or contact me through social sites listed below: <br> <br></p>
              <div class="connects-icon">
              <a href="https://www.facebook.com/kimmy.ilustrisimo"><img src="src\assets\img\fbcon.png" alt="facebook" class="icon"></a>
              <a href="https://twitter.com/llkinikimkimll"><img src="src\assets\img\twicon.png" alt="twitter" class="icon"></a>
              <a href="https://www.instagram.com/_mskimii/"><img src="src\assets\img\instacon.png" alt="instagram" class="icon"></a>
              <a href="mailto: kimmyilustrisimo0927@gmail.com"><img src="src\assets\img\mailcon.png" alt="email" class="icon"></a>
              </div>
          </div>

          <div class="connects-tag">
              <div class="bgsecond txtwhite blockpad connects-tag-inner">
                  <header>
                      <h2> “It’s better to have a short life that is full of what you like doing than a long life spent in a miserable way.”  </h2>
                  </header>
              </div>
          </div>
      </div>

  </main>
 
</body>